.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position:static;
    color: rgb(171, 171, 171) ;
}

.f-c {
    flex-direction: column;
}

.f-r {
    flex-direction: row;
}

.section {
    min-height: 100vh;
}