.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
}

.f-c {
    flex-direction: column;
}

.f-r {
    flex-direction: row;
}

.section {
    min-height: 100vh;
    padding-top: 0;
}

.circle {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    background: black; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}